/* pc.css */
body {
  background: #ccc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  outline: 1px solid red;
}

header {
  height: 97px;
  background: #333;
}

header nav a {
  color: #fff;
}

/* PC에서는 toggle 없음 */
#toggle {
  display: none;
}

header .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

header nav a {
  margin-left: 25px;
  margin-right: 25px;
}

#main-visual {
  width: 100%;
  height: 550px;
  background: url(../images/main-visual.jpg);
  background-size: cover;
  background-position: center;
}

#main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}